<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>org.ryan.mail.gapi</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/rpetrello/Library/Python/3.11/bin/gmi.sh</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/rpetrello/</string>
        <key>StartInterval</key>
        <integer>10</integer>
    </dict>
    </plist>
