/*
!/.iterm2_shell_integration.zsh
!/.inputrc
!/.pythonrc
!/.pdbrc
!/bin*
!/site*
!/.vim*
!/.gvim*
!/.gitconfig
!/.gitignore
!/.gitexcludes
!/.gitmodules
!/.gittemplates
!/.ackrc
!/.itermcolors
!/.mutt*
.mutt/error.log
!/.offlineimaprc
!/.pip*
!/.mail/*
!/.notmuch-config
!/.tmux.conf
!/venvs/
!/tmux-mail-count
!/.vim/*
!/.zsh*
!/.bashrc
!/wunderground.py
!/com.googlecode.iterm2.plist
!/jacked
!/mount-nas.scpt
!/ssh.py
.viminfo
.zsh_history
