/*
!/.inputrc
!/.ipython*
!/.vim*
!/.gvim*
!/.gitconfig
!/.gitignore
!/.gitexcludes
!/.gitmodules
!/.ackrc
!/.itermcolors
!/.mutt*
!/.offlineimaprc
!/.notmuch-config
!/.tmux.conf
!/tmux-mail-count
!/.vim/*
!/.zsh*
!/.bashrc
!/ssh
!/com.googlecode.iterm2.plist
.viminfo
.zsh_history
