[user]
	name = Ryan Petrello
	email = lists@ryanpetrello.com
[core]
	excludesfile = /Users/ryan/.gitexcludes
[alias]
    ci = commit
    st = status
    info = remote show origin
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[diff]
    ignoreSubmodules = untracked
