[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
    url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
    url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/chapa.vim"]
	path = .vim/bundle/chapa.vim
	url = https://github.com/alfredodeza/chapa.vim.git
[submodule ".vim/bundle/colorsupport.vim"]
	path = .vim/bundle/colorsupport.vim
	url = https://github.com/vim-scripts/colorsupport.vim.git
[submodule ".vim/bundle/khuno.vim"]
	path = .vim/bundle/khuno.vim
	url = https://github.com/alfredodeza/khuno.vim.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-colorx"]
	path = .vim/bundle/vim-colorx
	url = https://github.com/seaofclouds/vim-colorx.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vitality.vim"]
	path = .vim/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
[submodule ".vim/bundle/vim-diminactive"]
	path = .vim/bundle/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive
[submodule ".zsh/opp.zsh"]
	path = .zsh/opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
